<p>observable-example works!</p>
<ul class="list-group">

<li *ngFor="let x of data" class="list-group-item text-center">{{x}}</li>
</ul>
<button class="btn btn-primary m-4" (click)="getData1()">Observable1</button>
<button class="btn btn-primary m-4" (click)="getData2()">Observable2</button>
<button class="btn btn-primary m-4" (click)="getData3()">Observable3</button>
<button class="btn btn-primary m-4" (click)="getData4()">Observable4</button>
<button class="btn btn-danger m-4" (click)="stop()">Stop</button>
<button class="btn btn-primary m-4" (click)="getData5()">Observable5</button>
<button class="btn btn-primary m-4" (click)="getData6()">Observable6</button>
<button class="btn btn-primary m-4" (click)="getData7()">Observable7</button>
<button class="btn btn-primary m-4" (click)="getData8()">Observable8</button>
<button class="btn btn-primary m-4" (click)="getData9()">Observable9</button>
<button class="btn btn-primary m-4" (click)="getData10()">Observable10</button>
<button class="btn btn-primary m-4" (click)="getData11()">Observable11</button>



